.container {
    width: 1392px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav {
    padding: 20px 100px;
    background: #fff;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textb {
    display: flex;
    gap: 24px;
    align-items: center;
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #121212;
    display: flex;
    gap: 10px;

}

.but1 {
    padding: 14px 27px;
    width: 108px;
    height: 56px;
    background: #a27b5c;
}

.but2 {
    border: 1px solid #a27b5c;
    padding: 14px 27px;
    width: 114px;
    height: 56px;
}

.hero {
    background-color: #fcf7ef;
}

.hero_tx {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 96px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #121212;
    margin-bottom: 20px;
}

.hero_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #121212;
    margin-bottom: 20px;
}

.hero_img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero__tx {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 131%;
    letter-spacing: -0.01em;
    color: #121212;
    margin-bottom: 5px;
}

.hero__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #717171;
    padding-bottom: 80px;
}

.menu_tx {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.01em;
    color: #121212;
    width: 800px;
}

.menu_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #717171;
}

.menu {
    padding-top: 80px;
}

.menu_item {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 60px;
}

.menu_btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #a27b5c;
    border: 1px solid #a27b5c;
    padding: 14px 27px;
    width: 151px;
    height: 56px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.footer_tx {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 64px;
    line-height: 125%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.footer_text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer{
    background-color: black;
    padding: 50px;
}
.footer_item{
    display: flex;
    gap: 24px;
    align-items: center;
    padding-top: 50px;
}
.footer__tx{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
text-align: right;
color: #fff;
}
.list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}
.footer_pic{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 156%;
letter-spacing: 0.03em;
color: #a27b5c;
margin-bottom: 50px;
}
.footer_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}